<script>
// This file is in progress and behind a feature flag, please see the following issue for more:
// https://gitlab.com/gitlab-org/gitlab/-/issues/323200

// TODO (follow-up MR): import BlobContentViewer from '../components/blob_content_viewer.vue';

export default {
  components: {
    // TODO (follow-up MR): BlobContentViewer,
  },
};
</script>

<template>
  <div></div>
  <!-- TODO (follow-up MR): <blob-content-viewer/>  -->
</template>
